.button {
    border: 1px solid #F0F0F0;
    border-radius: 10px;
    background-color: #F0F0F0;
    font-family:  SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: none;
    box-shadow: none;

}