.hero {
    position: relative;
    width: 90%;
    height: 733px;
    margin: 0 5%;
    top:96px;
    background: #F5F5F5;
}

.tittle {
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 64px;
    text-transform: capitalize;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    position: relative;
    left: 4%;
}

.border {
    border-bottom: 2px solid #AAAAAA;
    border-width: 5px;
    width: 10%;
    display: block;
}

.cards_wrapper{
    width: inherit;
    margin: 5%;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
