.hero {
    background-image: url('../../assets/hero.png');
    background-size: cover;
    background-position: center;
    height: 659.82px; /* Set the desired height for the hero image */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    border-radius: 50px;
    position: relative;
    top:22px
}
.hero_image {
    position: absolute;
    background-image: url('../../assets/hero_image.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 408px;
    height: 546px;
    right: 8%;
    border-radius: 90px;
}
.text {
    position: absolute;
    left: 8%;
    top: 200px;
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 64px;
    text-transform: capitalize;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FDFDFD;
}

.buttons {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 500px;
    left: 10%;
    width: 40%;
}

.buttons .subscribe {
    width: 80%;
    height: 70px;
    background: #EFEDFF;
    border-radius: 13px;
    box-shadow: none !important;
}

.buttons .login {
    width: 80%;
    height: 70px;
    background: #EFEDFF;
    border-radius: 13px;
    box-shadow: none !important;
}

.buttons .login span {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #8C30C5 0%, #3CAF99 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.buttons .subscribe span {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #8C30C5 0%, #3CAF99 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero {
        height: 500px;
    }
	.hero_image{
        width: 300px;
        height: 400px;
        border-radius: 30px;
    }

    .text{
        font-size: 38px;
        top:150px
    }
    .buttons {
        top:400px;
    }
    .buttons .subscribe {
        height: 60px;
    }

    .buttons .login {
        height: 60px;

    }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    .hero {
        height: 400px;
    }
	.hero_image{
        width: 200px;
        height: 300px;
        border-radius: 30px;
    }

    .text{
        font-size: 26px;
        top:100px
    }
    .buttons {
        top:300px;
    }
    .buttons .subscribe {
        height: 50px;
    }

    .buttons .login {
        height: 50px;

    }
    .buttons .login span {
        font-size: 20px;
    }

    .buttons .subscribe span {
        font-size: 20px;

    }
}

@media only screen and (max-width: 425px){
    .hero {
        height: 400px;
    }
	.hero_image{
        display: none;
    }
    .text {
        left: 15%;
        top:50px
    }
    .buttons{
        width: 70%;
        left: 15%;
        top:320px
    }
}