.card {
    width: 30%;
    /* height: 521px; */
    position: relative;
    margin-bottom: 33px !important;
    background-color: #FFFFFF;
    box-shadow: 0 34.0693px 36.1986px rgba(0, 0, 0, 0.133714);
    border-radius: 26.6166px;

}

.image {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.text {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.642075px;
    text-transform: capitalize;
    color: #000000;
    position: relative;
    top: 35px;
    text-align: center;
}

.card_content{
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 40%;
    /* background-color: aqua; */
}

.like_section{
    width: 50%;
    border-top: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    height: 15%;
    position: absolute;
    bottom: 0;  
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.interaction_section {
    width: 50%;
    border-top: 1px solid #E4E4E4;
    height: 15%;
    position: absolute;
    bottom: 0;
    right: 0; 
    display: flex;
    justify-content: center;  
    align-items: center;     
}

.icon {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: -0.454803px;
    color: #000000;
}

@media only screen and (max-width: 1024px) {
    .text {
        font-size: 16px !important;
    } 
}

@media only screen and (min-width: 2560px) {
    .text {
        top:60px;
        font-size: 54px !important;
    }

    .icon{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 780px) {
    .text {
        top:20px;
    }

}


@media only screen and (max-width: 425px) {
    .text {
        top:0px;
        font-size: 12px !important;
    }

    .icon {
        font-size: 0.5rem;
    }

}
