.wrapper{
    height: 300vh !important;
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .wrapper {
        height: 430vh !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        height: 500vh !important; 
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    .wrapper {
        height: 590vh !important;
    }
}

@media only screen and (max-width: 425px){
    .wrapper {
        height: 610vh !important;
    }
}