.wrapper {
    width: inherit;
    height: 3000px;
}

.row {
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 210px;
}
.search_input {
    height: 80px;
    background-color: #F1EDF2 !important;
    /* border-radius: 19px !important; */
    box-shadow: none !important;
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    color: #626262;
}

.search_button{
    width: 15% !important;
    height: 80px !important;
    background-color: rgb(146, 85, 170) !important;
    right: 25% !important;
    position: absolute !important;
    bottom: 20% !important;
    border-radius: 5px !important;
}
.left_rect {
    position: absolute;
    width: 15%;
    right: 0;
    top: 950px;
    opacity: 0.8;
}

.right_rect {
    position: absolute;
    width: 15%;
    left: -7%;
    top: 950px;
    opacity: 0.8;
}
