.wrapper {
    width: 100%;
    height: 1012px;
}

.description {
    padding: 5%;
    width: 100%;
    display: flex;
}

.images {
    width: 50%;
    position: relative;
    left: 0;

}

.text {
    width: 50%;
    height: inherit;
    position: relative;
    right: 0;

}

.text .content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 261.5px;
    padding-left: 6%;
}

.text .content .tittle {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.text .content .description {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.button {
    width: 30% !important;
    height: 63px !important;
    background: #706B8F !important;
    border-radius: 13px !important;
    flex: none !important;
    top: 30px !important;
    color: white;
}

p {
    padding: 0 !important;
}

.description_img1 {
    position: absolute;
    width: 220px;
    height: 330px;
    left: 10px;
    top: 20px;
}
.description_img2 {
    position: absolute;
    width: 299px;
    height: 280px;
    left: 291px;
    top: 50px;
}
.description_img3 {
    position: absolute;
    width: 195px;
    height: 329px;
    left: 10px;
    top: 381px;
    border-radius: 20px;
}
.description_img4 {
    position: absolute;
    width: 338px;
    height: 355px;
    left: 232px;
    top: 355px;
    border-radius: 20px;
}
