.logo {
    position: relative;
    color: white;
    align-self: center;
    margin-left: 1.2rem;
    font-size: 2.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #000000;
    align-items: baseline;
    margin: 0 32.9px 0px 0px;
}

.header ul {
    display: flex;
    width: 100%;
    color: #000000;
    gap: 79px;
    justify-content: flex-end;
}

.header ul li {
    display: flex;
    text-decoration: none;
    font-family: SansitaSwashed-Regular !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}

.navbarItem {
    font-family: SansitaSwashed-Regular !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    margin: 0 32.9px 0px 0px;
    display: flex;
    gap: 49px;
 
}

@media only screen and (max-width: 991px) {
    .navbarItem {
        gap: 10px;
        font-size: 1px;
    }

}

@media only screen and (max-width: 1040px) {
    .logo {
        width: 100px !important;
        height: 30px !important;
        height: 35px !important;
        margin-top: 20px !important;
        padding-top: 20p !important;
    }
}