.row {
    /* overflow: hidden; */
}
.logo {
    left: 23px;
}

.Tittle {
    text-align: center;
    top: 126px;
}

.SubTittle {
    text-align: center;
    top: 140px;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 160px;
    gap: 20px;
    align-items: center;
    height: auto;
}

.button_wrapper {
    display: flex !important;
    justify-content: center !important;
}

@media only screen and (max-width: 425px) {
    .sideImage {
        display: none;
    }

    .form{
        padding: 20px !important;
    }
}