.wrapper {
    position: relative;
    height: 538px;
    margin: 20%;
    background: #FFFFFF;
    box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
    border-radius: 10px;
}

.Tittle {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #706B8F;
    text-align: center;
    top: 40px;
}

.SubTittle {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #0F001A;
    top: 90px;
    left: 12%;
}


.form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 110px;
    gap: 20px;
    align-items: center;
    height: auto;
}

.button_wrapper {
    display: flex !important;
    justify-content: center !important;
}

.button {
    position: absolute;
    width: 75%;
    height: 50px;
    background: #706B8F;
    border-radius: 4px;
    box-shadow: none !important;
    border-radius: 4px;
    color:white
}

.Map{
    position: relative;
    top:20px;
    width: 80%;;
}


.text {
    position: relative;
    top: 140px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text p {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.social-media {
    display: flex;
    gap: 40px;
    position: relative;
    top: 20px
}


@media only screen and (max-width: 2560px) {
    .Map{
        width: 60%;
    }

}


@media only screen and (max-width: 425px) {
    .wrapper{
        height: 1000px;
    }

    .colHeight{
        height: auto !important;
    }

    .text {
        top: 2px;
        text-align: center;
        align-items: center;
    }
}