.pagination {
    position: relative;
    top:100px;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.page-item .page-link {
    color:#706B8F !important;
    border: 1px solid #BDBDBD;
    font-size: 36px;
}

.page-item.active .page-link {
    background-color:#706B8F !important;
    color:white  !important;

}


@media (max-width: 425px) {
    .page-item .page-link {
        font-size: 9px;
    }
}
@media (min-width: 500px) and (max-width: 768px) {
    .page-item .page-link {
        font-size: 10px;
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    .page-item .page-link {
        font-size: 18px;
    }
}

@media (min-width: 1100px) and (max-width: 1440px) {
    .page-item .page-link {
        font-size: 24px;
    }
}

