.pagination {
    position: relative;
    top:100px;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.page-item .page-link {
    color:#706B8F !important;
    border: 1px solid #BDBDBD;
}

.page-item.active .page-link {
    background-color:#706B8F !important;
    color:white  !important;

}