.text {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #000000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
