.container-fluid {
  padding: 0px !important;
  margin: 0px !important;
  /* height: 100vh !important; */
  background-color: #F9F7F7;
}

.row{
  padding: 0px !important;
  margin: 0px !important;
  height: inherit;
}

.col-lg-6{
  padding: 0px !important;
  margin: 0px !important; 
  height: inherit;  
}

.col-md-6{
  padding: 0px !important;
  margin: 0px !important; 
  height: inherit;  
}

.col-sm-6{
  padding: 0px !important;
  margin: 0px !important; 
  height: inherit;  
}

.form-outline .form-control {
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}

.form-check{
  background-color: #e6e6fe !important;
}

.message{
  height: 100px !important;
}