.container-fluid {
  padding: 0px !important;
  margin: 0px !important;
  /* height: 100vh !important; */
  background-color: #F9F7F7;
}

.row{
  padding: 0px !important;
  margin: 0px !important;
  height: inherit;
}

.col-lg-6{
  padding: 0px !important;
  margin: 0px !important; 
  height: inherit;  
}

.col-md-6{
  padding: 0px !important;
  margin: 0px !important; 
  height: inherit;  
}

.col-sm-6{
  padding: 0px !important;
  margin: 0px !important; 
  height: inherit;  
}

.form-outline .form-control {
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}

.form-check{
  background-color: #e6e6fe !important;
}


.navbar {
  box-shadow: none;
  background-color: #F9F7F7 !important;
  padding: 0px 109px 0px 109px;
  height: 80px;
}

.navbar-collapse {
  padding-left: 20px;
  margin-top: 10px;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: 600 !important;
  color: #706B8F;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #00A0D7 0%, #9e3eb6 108.74%);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.navbar-light .navbar-nav .nav-link {
  font-family: SansitaSwashed-Regular !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

.navbar-nav{
  justify-content: flex-end;
}

.p-4 {
  height: 338px;
}

@media only screen and (max-width: 991px) {
  .navbar-light .navbar-nav .nav-link.active {
      width: 5%;
  }

  .navbar-collapse {
    background-color: #efefef;
    height: 250px !important;
    z-index: 10000;
    padding-left: 20px;
    margin-top: 15px;
  }

  .navbar {
    padding: 20px;
  }

}

@media only screen and (max-width: 1040px) {
  .navbar-light .navbar-nav .nav-link{
      font-size: 10px;
  }
}