.form_wrapper {
    position: absolute;
    width: 90%;
    margin: 0 5% !important;
    height: 1203px;
    background: #FFFFFF;
    box-shadow: 0 4px 63px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

}

.title {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    text-align: center;
    position: relative;
    top: 40px;
}

.title span {
    color: #8C30C5;
}

.input_form {
    position: relative;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10% !important;
    flex-direction: row;
    justify-content: center;
    padding: 5% !important;
    height: auto !important;
    /* gap: 30px; */

}

.label {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    position: relative;
    bottom: 5px;
}

.star {
    color: rgb(252, 118, 118);
    padding-left: 3px;
}

.description {
    height: 50px !important;
}

.input {
    margin-top: 30px;
}

.imgWrapper {
    border: 4px dotted #8C30C5;
    border-radius: 10px;
    height: 85px;
}

.browse {
    font-family: SansitaSwashed-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: center;
    position: relative;
    top: 20px;
}

.submit_button {
    width: 60%;
    height: 69.01px;
    top: 30px;
    left: 20%;
    background: #8C30C5;
    border-radius: 9.07965px;
}
